<!DOCTYPE html>

<style>


.whiteText1 {
    font-size: 20px;
}
</style>

{% extends "base.html" %}

{% block content %}

    <b><span class="whiteText1">&nbsp;Archives </span></b>
    <p>                                                 </p>
    {% for post in object_list1 %}

        <li>&nbsp;{{ post.created }} : <a href="/blog/{{ post.id }}">{{ post.title }} </a></li>

    {% endfor %}

{% endblock %}
