<!DOCTYPE html>
<style>

    .blueColor {
        color: blue;
        font: "Comic Sans MS";
        font-size: 20px;
    }

    .greenColor {
        font: italic;
        font-family: courier;
        color: green;
    }
</style>

{% extends "base.html" %}
{% block content %}

    <article class="blog-post">
    <header>
        <h1> {{post.title }}</h1>


            <div class="meta clearfix">


                <div class="date">

                    <span class="data">{{ post.created }}</span>
                </div>

            </div>

    </header>
    <div class="body">


        <p>{{ post.body|safe|linebreaks }}</p>

    </div>
    <div class="blueColor">
    <p>Tags</p>
        {% for tag in object_list.0.tags.all %}
            &nbsp;<a href="/blog/tag/{{ tag }}">{{ tag }}</a>
            {% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>



    <script type="text/javascript">

        var disqus_shortname = 'example'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
    <div id="disqus_thread"></div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'example'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </article>


{% endblock %}
